<!-- 키보드로 느낌표(!) 입력 -> 엔터(Enter)나 탭(Tab)키 누르면 아래와 같은 html 파일 기본 템플릿 생성됨. -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- 부트스트랩(BootStrap) 설치  -->
  <!-- 유튜브  -->
  <!-- 참고 URL - https://youtu.be/iHWlRtWNquA?si=uVzQUkL2QL3a0RI1 -->
  <!-- 참고 2 URL - https://youtu.be/F-v6EcMPJwA?si=GgTOZ1qE5w1m_2lR -->
  <!--  참고 URL - https://getbootstrap.com/docs/5.1/getting-started/introduction/#starter-template  -->
  <!--  참고 URL - https://getbootstrap.com/docs/5.3/getting-started/introduction/#starter-template  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous">

  <!--  server.js 소스파일에서 자바스크립트 코드로 아래처럼 폴더 "public"를 명시하였기 때문에 아래 <link> 태그 속성 "href"에 /public 명시할 필요 없음 (2024.11.22 jbh)  --> 
  <!--  app.use(express.static(__dirname + '/public'));  -->
  <link href="/main.css" rel="stylesheet">
</head>
<!-- <body> 태그 안에 웹페이지 디자인 시작 -->
<body class="grey-bg">
  <!--  include() 사용하여 다른 ejs 파일(nav.ejs)안에 들어있는 html 코드를 list.ejs 파일에 복사(첨부)하여 화면에 출력  -->
  <!--  <%- %> 사용하면 그 안에 들어있는게 html인 경우 그걸 실제로 렌더링 처리해서 화면 출력  -->
  <!--  <%= %> 사용하면 그 안에 들어있는게 html이어도 그걸 렌더링해주진 않고 일반 문자처럼 화면 출력 -->
  <!--  아래처럼 include() 안에 { age : 20 } 작성하면 다른 ejs 파일(nav.ejs)로 데이터 전송  -->
  <%- include('nav.ejs', { age : 20 }) %>

  <!--  <%= 글목록 %><br>  -->   <!--  서버로 부터 받은 데이터(글목록) 화면 출력 (array나 object 데이터를 그대로 html에 박을 경우 화면에 출력시 데이터가 깨지고 안 보이는 오류 발생!)  -->
  <%= JSON.stringify(글목록) %>   <!--  array나 object 데이터를 그대로 html에 박을 경우 화면에 출력시 데이터가 깨지고 안 보이므로, 함수 JSON.stringify 사용해야 화면상에 array나 object 데이터가 정상적으로 출력 가능  --> 
  
  <!--  ejs 문법 <% %> 및 자바스크립트 문법 for 반복문 사용해서 화면에 데이터 반복적으로 출력  -->
  <!--  <% for (var i = 0; i < 글목록.length; i++) { %>  -->
  <!--  <% } %>  -->
  <div class="white-bg">
    <% for (let i = 0; i < 글목록.length; i++) { %>
      <div class="list-box">
        <!--  <%= JSON.stringify(글목록[i]) %>  -->
        <!--  <%= JSON.stringify(글목록[i]._id) %>  -->

        <!--  서버사이드 렌더링이란? 서버에서 클라이언트로 html 코드 보내줄 때, 미리 데이터를 채워서 보내주는 기술이다.  -->
        <!--  클라이언트사이드 렌더링이란? 서버에서 빈 html 파일과 데이터만 클라이언트로 보내고, 웹브라우저 안에서 서버로 부터 받은 html 파일과 데이터 가지고 동적으로 렌더링 해주는 기술이다.  -->
        <!--  ejs 문법 <%= %> 사용해서 화면에 데이터 출력  -->
        <!--  <%= %> 사용하면 그 안에 들어있는게 html이어도 그걸 렌더링해주진 않고 일반 문자처럼 화면 출력 -->
        <h4>
          <!--  <a> 태그로 출력되는 링크 문자열에 밑줄(___ - 언더바)을 제거하려면 style 속성 style="text-decoration : none" 설정 구현 (2024.12.24 jbh)  -->
          <a href="/detail/<%= 글목록[i]._id %>"
             style="text-decoration : none">
            <%= 글목록[i].title %>
          </a>
          <!--  글수정 게시판 이동 기능  -->
          <a href="/edit/<%= 글목록[i]._id %>">✏️</a>
        </h4>
        <p><%= 글목록[i].content %></p>
      </div>
    <% } %>
    <!-- <div class="list-box"> -->
      <!-- <h4><%= 글목록[1].title %></h4> -->
      <!-- <p><%= 글목록[1].content %></p> -->
      <!-- <h4>글제목임</h4> -->
      <!-- <p>글내용임</p> -->
    <!-- </div> -->
  </div>    

  <div>
    <!--  ejs 문법 <% %> 및 자바스크립트 문법 for 반복문 사용해서 화면에 데이터 반복적으로 출력  -->
    <% for(var i = 0; i < 3; i++) { %>
      <h4>안뇽</h4>
    <% } %>
  </div>

  <!--  주의사항 - 아래 <script> 태그는 <body> 태그 가장 아래에 위치 해야함.  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
          crossorigin="anonymous"></script> 
</body>
</html>






